@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

header, footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: black;
    padding: 10px 0;
}

header p, footer p{
    color: yellow;
    margin-right: 10px;
    font-size: 18px;
}

header > div:nth-of-type(1), div:nth-of-type(2){
    display: flex;
    flex-direction: row;
    align-items: center;
}

#game-difficulty{
    background-color: #ffffa8;
    padding: 5px;
    border-radius: 5px;
    width: 150px;
    cursor: pointer;
}

#difficulty-timer{
    color: white;
}

header input[type="button"]{
    background-color: #623579;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    transition: all .3s;
}

header input[type="button"]:hover{
    background-color: #4c2c5b;
}

footer span{
    color: white;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer > div:nth-of-type(2){
    margin-left: 80px;
}

main h1{
    text-align: center;
    font-size: 250px;
    cursor: pointer;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.even{
    color: green;
}

.odd{
    color: red;
}